<main class="main">
  <% galary.forEach(function(item) { %>
    <a class="item" href="<%= item.src %>" target="_blank" rel="noopenner noreference">
      <span>
        <img src="<%= item.src %>" alt="">
      </span>
      <p><%= item.title %></p>
    </a>
  <% }) %>
</main>

<style>
  .item {
    width: 100px;
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
    box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    z-index: 1;
  }
  .item:hover {
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    z-index: 2;
    background: #fff;
  }
  .item img {
    max-width: 100%;
  }
</style>
